In [4]:
import pandas as pd
import numpy as np

In [5]:
pd.__version__

'2.3.3'

In [6]:
df = pd.read_csv("../data/raw/customer_behaviour.csv")

In [7]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [8]:
df.shape

(400, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [10]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [11]:
df['Gender'].value_counts()

Gender
Female    204
Male      196
Name: count, dtype: int64

In [12]:
df['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

## Dataset Overview

This dataset contains demographic information and purchase behavior of customers.
Each row represents a single customer.

### Columns:
- CustomerID: Unique identifier for each customer
- Gender: Gender of the customer
- Age: Age of the customer
- EstimatedSalary: Approximate annual salary
- Purchased: Indicates whether the customer made a purchase (1 = Yes, 0 = No)

### Initial Observations:
- Dataset contains ___ records
- No / Some missing values observed
- Purchased column is binary