In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/raw/Customer_Behaviour.csv")

In [1]:
print("kernel alive")

kernel alive

In [2]:
import pandas as pd
print(pd.__version__)

2.3.3

In [3]:
df = pd.read_csv("../data/raw/Customer_Behaviour.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
df.columns = [
    "customer_id",
    "gender",
    "age",
    "estimated_salary",
    "purchased"
]

In [6]:
df.head()

   customer_id  gender  age  estimated_salary  purchased
0     15624510    Male   19             19000          0
1     15810944    Male   35             20000          0
2     15668575  Female   26             43000          0
3     15603246  Female   27             57000          0
4     15804002    Male   19             76000          0

In [7]:
df.isnull().sum()

customer_id         0
gender              0
age                 0
estimated_salary    0
purchased           0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       400 non-null    int64
 1   gender            400 non-null    object
 2   age               400 non-null    int64
 3   estimated_salary  400 non-null    int64
 4   purchased         400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [9]:
df["purchase_status"] = df["purchased"].map({
    0: "No",
    1: "Yes"
})

In [10]:
df["purchase_status"].value_counts()

purchase_status
No     257
Yes    143
Name: count, dtype: int64

In [11]:
bins = [18, 25, 35, 45, 60]
labels = ["18-25", "26-35", "36-45", "46-60"]

df["age_group"] = pd.cut(df["age"], bins=bins, labels=labels

_IncompleteInputError: incomplete input (4017189649.py, line 4)

In [12]:
df["age_group"] = pd.cut(df["age"], bins=bins, labels=labels)

NameError: name 'bins' is not defined

In [13]:
bins = [18, 25, 35, 45, 60]
labels = ["18-25", "26-35", "36-45", "46-60"]

In [14]:
df["age_group"] = pd.cut(df["age"], bins=bins, labels=labels)

In [15]:
df["age_group"].value_counts().sort_index()

age_group
18-25     44
26-35    129
36-45    119
46-60    103
Name: count, dtype: int64

In [16]:
df.head()

,customer_id,gender,age,estimated_salary,purchased,purchase_status,age_group
0,15624510,Male,19,19000,0,No,18-25
1,15810944,Male,35,20000,0,No,26-35
2,15668575,Female,26,43000,0,No,26-35
3,15603246,Female,27,57000,0,No,26-35
4,15804002,Male,19,76000,0,No,18-25

In [17]:
df.to_csv("../data/processed/customer_behavior_cleaned.csv", index=False)

## Summary – Feature Engineering

- Created age groups to segment customers into meaningful business categories
- Majority of customers fall into the 26–45 age range
- Cleaned dataset saved for further analysis and reporting